{:builds
   {:app
    {:target :node-script
     :main app.init/main
     :output-to "build/app.js"}
    :tests
      {:target :node-test
       :output-to "build/tests.js"
       :autorun true}},
 :dependencies [],
 :source-paths ["src"]}