body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* TODO: Unable to set styles in .cljs */
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes appear {
  to {
    color: #f5f5f7;
  }
}